### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players_df = pd.DataFrame({'Total Players':[len(purchase_data['SN'].unique())]}) 
total_players = len(purchase_data['SN'].unique())
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data['Item ID'].unique())
average_price = purchase_data['Price'].mean()
number_of_purchases = purchase_data['Purchase ID'].max()+1
total_revenue = purchase_data['Price'].sum()
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items],'Average Price':average_price,'Number of Purchases':number_of_purchases,'Total Revenue':total_revenue})
purchasing_analysis['Average Price'] = purchasing_analysis['Average Price'].map("${:,.2f}".format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map("${:,.2f}".format)
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_groups = purchase_data.groupby('Gender')
gender_sn = pd.DataFrame(gender_groups['SN'].unique())
females = len(gender_sn.loc['Female','SN'])
males = len(gender_sn.loc['Male','SN'])
other = len(gender_sn.loc['Other / Non-Disclosed','SN'])
female_pct = females/total_players
male_pct = males/total_players
other_pct = other/total_players
gender_demographics = pd.DataFrame(index=['Male','Female','Other / Non-Disclosed'],data={'Total Count':[males,females,other],'Percentage of Players':[male_pct,female_pct,other_pct]})
gender_demographics['Percentage of Players']=gender_demographics['Percentage of Players'].map("{:.2%}".format)
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
gender_purchases = pd.DataFrame(gender_groups['Purchase ID'].count())
gender_avg_price = pd.DataFrame(gender_groups['Price'].mean())
gender_total_vol = pd.DataFrame(gender_groups['Price'].sum())
male_total = gender_total_vol.iloc[1,0]
avg_per_male = male_total/males
female_total = gender_total_vol.iloc[0,0]
avg_per_female = female_total/females
other_total =gender_total_vol.iloc[2,0]
avg_per_other = other_total/other
gender_analysis = pd.merge(gender_purchases,gender_avg_price,on='Gender')
gender_analysis = pd.merge(gender_analysis,gender_total_vol,on='Gender')
gender_analysis = gender_analysis.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Volume'})
gender_analysis['Avg Total Purchase per Person'] = [avg_per_female,avg_per_male,avg_per_other]
gender_analysis['Average Purchase Price'] = gender_analysis['Average Purchase Price'].map("${:,.2f}".format)
gender_analysis['Total Purchase Volume'] = gender_analysis['Total Purchase Volume'].map("${:,.2f}".format)
gender_analysis['Avg Total Purchase per Person'] = gender_analysis['Avg Total Purchase per Person'].map("${:,.2f}".format)
gender_analysis

,Purchase Count,Average Purchase Price,Total Purchase Volume,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
max_age = purchase_data['Age'].max()
bins= [0,9,14,19,24,29,34,39,max_age+1]
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data_agebins = purchase_data
purchase_data_agebins['Age Ranges'] = pd.cut(purchase_data_agebins['Age'], bins, labels=group_names, include_lowest=True)
purchase_data_agebins.head()
age_groups = purchase_data_agebins.groupby('Age Ranges')
age_purchases = pd.DataFrame(age_groups['Purchase ID'].count())
age_avg_price = pd.DataFrame(age_groups['Price'].mean())
age_total_value = pd.DataFrame(age_groups['Price'].sum())

age_range_total = []
age_unique = age_groups['SN'].unique()
for i in range(8):
    people = len(age_unique.iloc[i])
    total = age_total_value.iloc[i,0]
    age_range_total.append(total/people)


age_analysis = pd.merge(age_purchases,age_avg_price,on='Age Ranges')
age_analysis = pd.merge(age_analysis,age_total_value,on='Age Ranges')
age_analysis['Avg Total Purchase per Person'] = age_range_total
age_analysis = age_analysis.rename(columns={'Purchase ID':'Purchase Count','Price_x':'Average Purchase Price','Price_y':'Total Purchase Volume'})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Volume,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame